* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f4f4f4;
    color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
}
a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(52, 58, 64);
}
a:hover {
    color: #4aca68;
}
.form {
    width: 700px;
    margin: 20px auto 80px;
    padding:60px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
h1 {
    text-align: center;
    color: #218838;
    margin: 40px;
}

button {
    padding: 10px;
    background-color: #269c42;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input {
    padding:10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}
#nav {
    text-align: center;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 70px 100px;
    height: 50px;
}



/* slider styles */

.slider {
    text-align: center;
    margin-top: 50px;
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.slides {
    text-align: center;
    border: 2px solid #ccc;
    width: 820px;
    height: 520px;
    margin: auto;
    padding: 10px;
}
.slide {
    width: 800px;
    height: 500px;
    display: none;
    margin: auto;
}
#next, #prev {
 color: #269c42 ;
 background-color: transparent;
 font-size: 90px;
}

/* filer form */

.filter-form {
    width: 900px;
    margin: 100px auto;
    display: flex;
    gap: 20px;
    flex-direction: row;

}

#filter-btn {
    padding: 10px;
    background-color: #269c42;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
}

#cartTotalBlock {
    width: 400px;
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    color:#218838;  
}
.product-container2 {
    height: 1050px;
    width: 800px;
    margin:80px auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 80px;
}

/* product container */

.product-container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 80px;
}
.brands-filter {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
    height: 400px;
}
.brand-btn {
    padding: 10px;
    background-color: #269c42;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 220px;
}
.products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 56;
    min-width: 560px;
}

.product {
    width: 520px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #218838;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.product-cart {
    padding: 10px;
    background-color: #269c42;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 750px;
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    text-align:left;
}

.product-cart span {
    font-size: 25px;
    font-weight: bold;
    width: 250px;
}
.checkout-message {
    text-align: center;
    margin-top: 100px;
    padding: 50px;
}
.footer {
    text-align: center;
    padding: 30px;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
    color: white;
    width: 100%;
    height: 100px;

}